<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vets</title>
</head>
<body>
<!-- /*@thymesVar id="vat" type="unklick.klinik.model.Vat"*/ -->
    <h1 th:text="'List of Vets'">List of Vets</h1>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Firstname</th>
            <th>Lastname</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vet : ${vets}">
            <td th:text="${vet.id}"></td>
            <td th:text="${vet.firstName}"></td>
            <td th:text="${vet.lastName}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>